@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'layout_utils';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;


html,body{
   // height: 100vh;
   // overflow-y: hidden;
}


ul {
   margin: 0; padding: 0;
}

li{
   list-style: none;
}

#portada {
   #portada_fondo    {
      filter: brightness(150%) contrast( 130% );
      -webkit-filter: brightness(150%) contrast( 130% );
   }
   overflow: hidden;
   .titulo{
      font-weight: 900;
   }
   .texto {
      // font-weight: 700;
   }
   .titulo, .texto {
      color: black !important;
      text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
   }
}


#linea-de-tiempo {

   z-index: 1;
   background-color: #111 !important;
   color: #ccc;
   font-weight: 700 !important;
   .punto-tiempo {
      // border: 4px solid white;
      // width: $spacing*1.2;
      // height: $spacing*1.2;
      // border-radius: $spacing*1.2;
      // display: block;
      // &.activo {
      //    background-color: #fff;
      // }
   }
}
/*COLORES*/
body {
   // background-color: #000;
}
#cabecera {
   a {
      color: #fff;
   }
   background-color: #000;
   color: #fff;




   nav,ul {
      height: 100%;
   }

   nav {

      li {
         letter-spacing: normal;
         float: left;
         width: auto;
         list-style: none !important;
         @extend .p4;
         @extend .pt0;
         @extend .pb0;
         &,* {
            color:#eee !important;
         }
      }


   }


}




/*   tipografias */

* {
   font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Lato', sans-serif !important;
   font-weight: 700;
}






#videos {

   .video {
      padding: 1px;
      overflow: hidden;

      .imagen {
         filter: contrast( 115% );
         -webkit-filter: contrast( 120% );

         transition : filter 0.5s ease-in-out;
         -webkit-transition : -webkit-filter 0.5s ease-in-out;
         -moz-transition : -moz-filter 0.5s ease-in-out;
      }
      transition : filter 500ms linear;
      -webkit-transition : -webkit-filter 500ms linear;
      .info {
         transition: all 0.5s ease-in-out;
      }
      .cortina {
         opacity: 0;
         background-color: rgba(0,0,0,0.5);
         transition : filter 500ms ease-in-out;
      }

      &:hover {
         .cortina {
            opacity: 1;
         }
         .imagen {
            filter: brightness(70%) grayscale(80%);
            -webkit-filter: brightness(70%) grayscale(80%);

         }

         .info {

            h6 {
               text-shadow: 1px 1px 0 #000;
            }
            // .cortina {
            //    transoform: scale(1.2,1.2);
            //    // filter: grayscale(75%) blur( 5px);
            //    // -webkit-filter: grayscale(75%) blur( 5px);
            // }
            opacity: 1;
         }
      }
   }
}


%pattern {
   background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAD0lEQVQImWNgwATGtBAAADM2AQCsBUIOAAAAAElFTkSuQmCC) repeat;}

.page,
.post.single {

   background-color: #fafafa;
   padding-top: 10vh;
   .imagen {
      filter: contrast(125%);
      -webkit-filter: contrast(125%);
   }


   iframe {
      width: 100%;
      height: 75vh;
   }

   .titulo {
      margin-top: -5px !important;
      @extend %pattern;
      margin: 0 !important;
   }

   .contenido {
      p {
         text-align: justify;
      }
   }
}
.cortina {
    opacity: 0.5;
}



.red {
   color: #f00;
}



.pattern {
   @extend %pattern;
}




.min_80vh {
   min-height: 80vh;
}




.secondary {
   background-color: #333;
}




.selector-categoria {
   background-color: #333 !important;
}

.selector-anno.activo,
.selector-categoria.activo {
   background-color: #151515 !important;
}


#videos_relacionados {
   background-color: #ddd;
}



#footer {
   background-color: #111;
}
